/* -======== CSS: main ========= */

.main {
	width: 100%;
	height: calc(100vh - 60px - 70px);
	padding: 15px 15px 0 15px;
	text-align: center;
	background: #e5e5e5;
}

.main.open__menu {
	height: calc(100vh - 60px - 70px - 413px);
}

.main__wrap {
	width: 100%;
	height: 100%;
	background: #ffffff;
}

.content__wrap {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main__img {
	margin-bottom: 40px;
}

.main__text {
	font-size: 15px;
	line-height: 14px;
}

.title {
	font-weight: 600px;
	color: #29354b;
}

.desc {
	font-weight: 400px;
	color: #808ba0;
}

@media (min-width: 640px) {
	.main {
		height: 100%;
	}
}
