.sidebar__menu {
	position: relative;
	display: none;

	margin: 0;
	padding: 0;

	list-style: none;
}

.sidebar__menu.open__menu {
	display: block;
	padding-top: 35px;
}

@media (min-width: 640px) {
	.sidebar__menu {
		display: block;
	}
}
